
@media (min-width: 1025px) {
  /* Estilos para pantallas grandes */
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #d7cab8;
  margin: 1;
  padding: 1;
}

main, nav{
  padding: 15px;
}

p, li, h2{
  font-size: 1.4em;
  margin: 0;
  text-align: justify;
}

h1{
  text-align: center;
  padding: 0;
  margin: 1%;
}

small {
  color: black;
  text-align: center;
  display: block;
  font-size: 1.2em;
}

#Version {
  font-size: 15px;
  color: black;
  border: 1px solid black;
  background-color: #685336;
  text-decoration: none;
  padding: 2.5px;
  transition: background-color 0.5s;
}

#Version:hover {
  background-color: #ecd592;
}

.img-header {
  height: 12em;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  display: block; /*elimina espacios en blanco*/
  width: auto;
}

.navegation-bar {
  display: flex; /* modo de caja flexible */
  flex-direction: row; /* Los elementos se colocarán en fila */
  flex-wrap: wrap; /* por si la cantidad de elementos rebasa la pantalla */
  text-align: center;
}

.navbar-content {
  background-color: #685336;
  padding: 15px;
  flex: auto; /* Hace que los elementos se distribuyan verticalmente de manera uniforme */
  color: black; /* Color del texto */
  text-align: center; /* Centra el texto horizontalmente */
  border: 1px solid black; /* Línea divisoria entre elementos */
  transition: background-color 0.5s;/* transition: background-color 0.3s; Efecto de transición en el color de fondo */
  text-decoration: none;
}

.navbar-content:hover {
  background-color: #ecd592; /* Cambia el color de fondo al pasar el mouse */
  transform: scale(1.25);
}

#Personal-Information {
  text-align: center;
  margin: 0 3.125em 3.125em 3.125em;
  height: 100%;
}

.Personal-Image {
  max-width: 100%;
  padding: 5px;
  margin: 15px;
  border: 2px solid black;
  background-color: #413029;
}

.About-Me {
  text-align: justify;
  margin: 0;
}

#My-Experience {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 100px 0 100px;
  margin: 0 3.125em 0 3.125em;
}

.Laboral-Experiences li{
  padding: 2.5px;
}

.Other-Experiences {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#Contact-Information { 
  padding: 50px 33% 50px 33%;
  margin: 0 3.125em 0 3.125em;
  text-align: center;
}

.Contact-Icon {
  background-color: #685336;
  width: 150px;
  border: 1px solid black;
  border-radius: 25%;
  transition: background-color 0.5s;
  margin: 15px;
}

.Contact-Icon:hover {
  background-color: #ecd592;
  transform: translateY(-15px);
}
