
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #d9ceb2;
  margin: 1;
  padding: 1;
}

main, nav{
  padding: 15px;
}

p, li{
  font-size: 1.5em;
  margin: 0;
  text-align: justify;
}

h1 {
  text-align: center;
  padding: 0;
  margin: 1%;
}

small {
  color: black;
  text-align: center;
  display: block;
  font-size: 1.2em;
}

.img-header {
  height: 12em;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  display: block; /*elimina espacios en blanco*/
  width: auto;
}

.navegation-bar {
  display: flex; /* modo de caja flexible */
  flex-direction: row; /* Los elementos se colocarán en fila */
  flex-wrap: wrap; /* por si la cantidad de elementos rebasa la pantalla */
  text-align: center;
  margin: 0 3% 0 3%;
}

.navbar-content {
  background-color: #978060;
  padding: 15px;
  margin: 0 .5px 0 .5px;
  flex: auto; /* Hace que los elementos se distribuyan verticalmente de manera uniforme */
  color: black; /* Color del texto */
  text-align: center; /* Centra el texto horizontalmente */
  border: 1px solid black; /* Línea divisoria entre elementos */
  transition: background-color 0.5s;/* transition: background-color 0.3s; Efecto de transición en el color de fondo */
  text-decoration: none;
}

.navbar-content:hover {
  background-color: #99b2b7; /* Cambia el color de fondo al pasar el mouse */
  transform: scale(1.25);
}

#Personal-Information {
  display: flex;
  padding: 50px;
  margin: 5% 0 5% 0;
}

.Personal-Image {
  width: 50em;
  padding: 5px;
  border: 2px solid black;
  background-color: #99b2b7;
}

.About-Me {
  padding: 10px;
  text-align: justify;
}

#My-Experience {
  display: flex;
  flex-direction: column;
  margin: 0 0 5% 0;
}



.Experience-content:hover {
  background-color: #948c75;
}

#Soft-Skills {
  margin: 0 0 15% 0;
}

#Contact-Information {
  margin: 0 15% 15% 15%;
  border: 1px solid black;
}

#Contact-Information p {
  font-size: 1.1em;
  padding: 15px;
  text-align: center;
}
